body {
  background-color: rgb(39, 39, 39);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header,
nav,
main,
footer {
  margin: 20px;
}



.inicio {
  background-color: bisque;
  text-align: center;
  font-size: 34px;
  margin: unset;
  height: 400px;
  margin: 40px;
  border-radius: 12%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}

section {
  display: flex;
  align-items: center;
}

img {
  max-width: 100px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
}

.img1 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img2 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img3 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img4 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img5 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img6 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img7 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img8 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img9 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img10 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img11 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img12 {
  max-width: 150px;
  /* ajuste o tamanho conforme necessário */
  margin-right: 20px;
  /* ajuste a margem conforme necessário */
  border: 5px;
  border-radius: 25%;
}

.img13 {
  max-width: 150px;
  margin-right: 20px;
  border: 5px;
  border-radius: 25%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 50px;
}

main {
  background-color: rgb(249, 241, 212);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

.sumario {
  color: rgb(202, 202, 202);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

:root {
  --menu-width: 450px;
}

.locate {
  --_size: 1.6rem;
  height: var(--_size);
  width: var(--_size);
  border-radius: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(var(--_size) / 6);
  cursor: pointer;
  transition: left .25s;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 7;
}

.open-nav .locate {
  left: calc(var(--menu-width) - var(--_size) / 2);
}

.locate span {
  display: block;
  width: 100%;
  height: calc(var(--_size) / 25);
  background-color: black;
  transition: transform .3s, opacity .2s;
  opacity: 1;
  transform-origin: 0 50%;
  --_rotate: 45deg;
  --_scale: 1.35;
}

.open-nav .locate span:first-of-type {
  transform: rotate(var(--_rotate)) scaleX(var(--_scale));
}

.open-nav .locate span:last-of-type {
  transform: rotate(calc(var(--_rotate) * -1)) scaleX(var(--_scale));
}

.open-nav .locate span:nth-last-of-type(2) {
  opacity: 0;
}


.main-menu {
  background-color: rgba(48, 48, 48, 0.596);
  border-radius: 12.5%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 2rem;
  width: var(--menu-width);
  backdrop-filter: blur(1.5px);
  transition: transform .3s;
  transform: translateX(-100%);
  max-width: 310px;
  margin-right: 50px;
 

  display: flex;
  flex-direction: column;
  gap: .5rem;
  overflow: auto;
}

.main-menu a {
  display: block;
  color: white;
  text-decoration: none;
  background-color: rgba(0 0 0 / .8);
  padding: .5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: .5rem
}

.main-menu a:hover {
  background-color: black;
}

.open-nav .main-menu {
  transform: translateX(0%);
}

/* ------------------------------- */

html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
}

header {
  border: 1px solid rgb(39, 39, 39);
  height: 140px;
}

main {
  border: 1px solid rgb(39, 39, 39);
  min-height: calc(100dvh - 200px);
}

/* -------------------------- */

dialog:modal {
  --_alt-color: #bfae84;
  border: 2px solid black;
  background-color: rgba(212, 193, 138, 0.779);
  backdrop-filter: blur(2,5px);
  color: var(--_alt-color);
  border-radius: 10px;
  padding: 2rem;
  font-size: 1.4rem;
  margin-right: 50px;
  
}

dialog:modal h1 {
  margin: 0;
  text-transform: uppercase;
}

dialog:modal button {
  border: 2px solid var(--_alt-color);
  background-color: transparent;
  color: var(--_alt-color);
  font-size: 1.4rem;
  padding: .5rem 1rem;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: blueviolet;
    z-index: -1;
    transform: translateY(100%);
    transition: .3s;
  }

  &:focus,
  &:hover {
    &::before {
      transform: translateY(0%);
    }
  }
}

dialog:modal .action {
  display: flex;
  justify-content: flex-end;
  gap: .25rem
}

dialog:modal::backdrop {
  backdrop-filter: blur(2.5px);
  background-color: rgba(0 0 0 / .9);
}